<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Компанія всі посилки </title>
    <style>
        .link-menu {
            text-decoration: none;
            color: #696969;
        }

        .link-menu:hover {
            text-decoration: underline;
            color: #333;
        }
    </style>
</head>
<body>
<h3><a th:href="@{/parcel/{idLot}(idLot=${idLot})}" class="link-menu"><span style="font-size: 30px">&larr;</span> Повернутись</a><a th:href="@{/parcel}" style="margin-left: 25px" class="link-menu"><span style="font-size: 30px">&larr;</span> Повернутись на головну</a></h3>
<h2 th:text="${company.getName()} +' '+ ${company.getEDRPOUCode()}"></h2>
<h2 th:text="${subdivision.getName() +' '+ ${subdivision.getNumberSubdivision} +' '+ ${subdivision.getTelephone}"></h2>

</body>
</html>