<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h3><a th:href="@{/parcel}"><span style="font-size: 30px">&larr;</span> Повернутись на головну</a></h3> <h2 th:text="${parcel.getStatus()} + ' ' + ${#temporals.format(parcel.getShippingDate(), 'dd-MM-yyyy')}">VALUE</h2>

<div th:each="package : ${parcel.getPackageList()}">

    <hr/>

    <p>
        <b>Номер ТТН:</b>
        <span th:text="${package.getParcelTrackingNumber() + '&nbsp; --- &nbsp;'}"></span>
        <b>Номер заявки:</b>
        <span th:text="${package.getCardNumber() + '&nbsp; --- &nbsp;'}"></span>
        <b>Замовник:</b>
        <span th:text="${package.getClient() + '&nbsp; --- &nbsp;'}"></span>
        <b>Опис:</b>
        <span th:text="${package.getDescriptions()}"></span>

    </p>

    <p>
    <b>Сумма:</b>
    <span th:text="${package.getDeliveryPrice()} + 'грн' + ' ' +&#8372;"></span>
    </p>

    <form th:method="GET" th:action="@{/parcel/{idLot}/{idPackage}/editPackage(idLot=${parcel.getId()}, idPackage=${package.getId()})}" style="display: inline-block; ">
        <input type="submit" value="Редагувати" />
    </form>

    <form th:method="GET" th:action="@{/parcel/{id}/deletePackage(id=${package.getId()})}" style="display: inline-block; ">
        <input type="submit" value="Видалити" />
    </form>



</div>
<hr/>
<h3><a th:href="@{/parcel/{id}/new(id=${parcel.getId()})}">Додати посилку &#10010;</a></h3>



</body>
</html>