<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h3><a th:href="@{/parcel}"><span style="font-size: 30px">&larr;</span> Повернутись на головну</a></h3> <h2 th:text="${parcel.getStatus()} + ' ' + ${parcel.getShippingDate()}">VALUE</h2>

<div th:each="parcel : ${parcel.getPackageList()}">

    <hr/>
<!--    <b>Номер ТТН:</b><p th:text="${parcel.getParcelTrackingNumber()} + ' - ' + ${parcel.getCardNumber()} + ' - ' + ${parcel.getClient()} + ' - ' + ${parcel.getDescriptions()}" ></p >-->
    <p>
        <b>Номер ТТН:</b>
        <span th:text="${parcel.getParcelTrackingNumber() + '&nbsp; --- &nbsp;'}"></span>
        <b>Номер заявки:</b>
        <span th:text="${parcel.getCardNumber() + '&nbsp; --- &nbsp;'}"></span>
        <b>Замовник:</b>
        <span th:text="${parcel.getClient() + '&nbsp; --- &nbsp;'}"></span>
        <b>Опис:</b>
        <span th:text="${parcel.getDescriptions()}"></span>
    </p>
    <p>
    <b>Сумма:</b>
    <span th:text="${parcel.getDeliveryPrice()} + 'грн' + ' ' +&#8372;"></span>
    </p>

</div>
<hr/>
<h3><a th:href="@{/parcel/{id}/new(id=${parcel.getId()})}">Додати посилку &#10010;</a></h3>



</body>
</html>