<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3><a th:href="@{/parcel/{id}(id=${package.getId()})}" ><span style="font-size: 30px">&larr;</span> Повернутись</a>
<a th:href="@{/parcel}" style="margin-left: 25px"><span style="font-size: 30px">&larr;</span> Повернутись на головну</a></h3>

<h2>Додати посилку:</h2>


<form th:method="POST" th:action="@{/parcel/{id}(id=${package.getId()})}" th:object="${package}">

    <label for="parcelTrackingNumber">Введіть TTN</label>
    <input type="number" th:field="*{parcelTrackingNumber}" id="parcelTrackingNumber"/>

    <label for="cardNumber">Номер заявки</label>
    <input type="number" th:field="*{cardNumber}" id="cardNumber"/>

    <label for="client">Замовник</label>
    <input type="text" th:field="*{client}" id="client"/>

    <label for="descriptions">Опис</label>
    <input type="text" th:field="*{descriptions}" id="descriptions"/>

    <label for="deliveryPrice">Ціна</label>
    <input type="number" th:field="*{deliveryPrice}" id="deliveryPrice"/>

    <input type="submit" value="Створити" style="font-size: 20px">


</form>

</body>
</html>