<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Відправлені</title>

    <style>
        hr.light-gray {
            border: none;
            height: 1px;
            background-color: #d3d3d3; /* Светло-серый цвет */
        }
    </style>
</head>
<body>
<h3><a href="/parcel"><span style="font-size: 30px">&larr;</span> Повернутись на головну</a> <a href="/parcel/receive" style="margin-left: 25px">Отримані &#11015;</a> <a href="/parcel/newLot" style="margin-left: 25px">Створити &#10010;</a></h3> </h3>
<h2>Відправлені:</h2>
<div th:each="parcel : ${parcel}">

    <hr class="light-gray"/>

    <div style="margin-bottom: 15px; margin-top: 10px;">
    <a th:href="@{/parcel/{id}(id=${parcel.getId()})}" th:text="${parcel.getStatus()} + ' ' +  ${#temporals.format(parcel.getShippingDate(), 'dd-MM-yyyy')}" style="font-size: 18px;">user</a>

    <form th:method="GET" th:action="@{/parcel/sent/{id}/editLot(id=${parcel.getId()})}" style="display: inline-block; position: absolute; left: 250px;">
        <input type="submit" value="Редагувати" style="font-size: 17px"/>
    </form>

    <form th:method="GET" th:action="@{/parcel/sent/{id}/deleteLot(id=${parcel.getId()})}" style="display: inline-block; position: absolute; left: 90vw; ">
        <input type="submit" value="Видалити" style="font-size: 17px"/>
    </form>

    </div>

</div>
<hr class="light-gray"/>

</body>
</html>