<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<h3><a  href="/parcel/sent" >Відправлені &#11014;</a> <a href="/parcel/receive" style="margin-left: 25px">Отримані &#11015;</a> <a href="/parcel/newLot" style="margin-left: 25px">Створити &#10010;</a></h3>
<h2>Всі посилки:</h2>



<div th:each="parcel : ${parcel}">
    <hr/>

    <div>
        <a th:href="@{/parcel/{id}(id=${parcel.getId()})}" th:text="${parcel.getStatus() } + ' ' +  ${#temporals.format(parcel.getShippingDate(), 'dd-MM-yyyy')}">user</a>
    </div>

    <div>
        <form th:method="GET" th:action="@{/parcel/{id}/editLot(id=${parcel.getId()})}" style="display: inline-block;">
            <input type="submit" value="Редагувати"/>
        </form>

        <form th:method="DELETE" th:action="@{/parcel/{id}(id=${parcel.getId()})}" style="display: inline-block;">
            <input type="submit" value="Видалити"/>
        </form>
    </div>

</div>




<hr/>
</body>
</html>